*{
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #93B5C9;
    height: 140px;
}

main{
    background-color: #AB2849;
    height: 280px;
}

div{
    background-color: #AB2849;
    height: 120px;
    margin: 20px 0 0 200px;
}

footer{
    background-color: #AB2849;
    height: 100px;
    margin: 20px 25px 0 25px;
}